
.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
background: #141414;
}

#editPwdId > .ant-row > .ant-form-item-label > label{
	color:#000
}

.dark-row{
    background: lightblue;
}
.ant-table-thead > tr > th{
    background: blanchedalmond;
}